<nav class="navbar fixed navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand brand-image" href="#">
      <img src="http://www.sd-editions.com/aelfric/images/transimage3.png" alt="" width="120" height="50">
    </a>
  </div>

  <div class="container-fluid">
    <span class="navbar-text" style="padding-left:115px;font-size:24px;color:white">
      SDE Interview Questions
    </span>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarTogglerDemo02">
    <ul class="navbar-nav ms-auto ms-auto mb-2 mb-lg-0" style="padding-right:20px;">
      <li class="nav-item" style="padding-right:15px;font-size:20px">
        <a routerLink="/login" class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item" style="font-size:20px">
        <a class="nav-link" routerLink="/register">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>



