th {
  background-color: black;
}

table {
  padding: 10PX;
  border-radius:20px;

}


td, th {
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
  background: black;
}
th {
  background: #0a8bd7;
  color: black;
  padding-right:5px;
}

td:hover {
  background-color: #0a8bd7;
  color: black;
  font-weight:600;
}

img {
  transition: 0.3s;
}

  img:hover {
    max-width: auto;
    width: 65px;
    height: 65px;
    padding: 0px;
  }

