<nav class="navbar fixed-top navbar-expand-lg" style="background:black">

  <div class="container">
    <a class="navbar-brand brand-image" href="#">
      <img src="http://www.sd-editions.com/aelfric/images/transimage3.png" alt="" width="120" height="50">
    </a>
  </div>

  <div class="container-fluid">
    <h1 class="navbar-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color :#0a8bd7">
      SDE Interview Questions
    </h1>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" style="padding-right: 50px">
        <<button type="button" (click)="logOut()" style="width:100px;" class="nav-link" href="#">Logout</button>
      </li>
    </ul>
  </div>

</nav>
